@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');


* {
    margin: 0px;
    padding: 0px;
}

header {
    width: 100%;
    position: relative;
    background: black;
    color: white;
    text-align: center;
}

h1 {
    font-size: 5vh;
    font-family: 'Passion One';
    padding-top: 20px;
}

header > p, a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: darkgray;
    text-decoration: underline;
}

header > p {
    color: white;
    line-height: 5vh;
    font-size: 3vh;
    padding: 15px;
    font-family: 'Sriracha';
} 

article > p {
    margin: 20px 20px;
    line-height: 5vh;
    font-size: 1em;
    font-family: 'Sriracha';
}

#texto { 
    max-width: 500px;
    color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0.589);
    width: 80%;
    height: 42vh;
    margin: 0px 10px;
    position: absolute;
    bottom: 60%;
    transform: translateY(60%);
}

#img2 {
    background: url('InforExtra/imagens/background002.jpg') fixed;
    position: relative;
    height: 420px;
    background-size: cover;
    box-shadow: inset 0px 0px 13px 0px black;
}

#img {
    position: relative;
    background: url('InforExtra/imagens/background001.jpg') no-repeat center center fixed;
    height: 420px;
    background-size: cover;
    box-shadow: inset 0px 0px 13px 0px black;
}

footer {
    font: 0.7em 'verdana'; 
    text-align: center;
    color: white;
    background: #000000;
    padding: 5px;
    
}

#menu1 > h2 {
    font-family: 'Passion One';
    padding: 10px;
    font-size: 3.0em;
}

#volta {
    position: absolute;
    height: 55px;
    top: 10px;
    right: 10px;
}

#menu1 > .op:hover {
    text-decoration: none;
    background-color: rgb(117, 117, 117);
    transition-duration: 0.2s;
}

#menu1 > .op {
    color: black;
    font-family: 'Passion One';
    padding: 15px;
    font-size: 2.0em;
    background-color: white;
    display: block;
}

#menu1 > p {
    color: black;
    font-family: 'Passion One';
    padding: 20px;
    font-size: 2.0em;
}

#menu1 {
    border-radius: 5px;
    z-index: 1;
    box-shadow: 0px 0px 15px black;
    margin: 10px;
    position: fixed;
    background: rgb(207, 207, 207);
    height: 96%;
    width: 85%;
}

main {
    position: relative;
}

#menu, nav {
    height: 30px;
    position: absolute;
    bottom: 97.5%;
    right: 5.5%;
    transform: translateX(30%);
}

@media (orientation: landscape) {
    article > p {
        margin: 20px 20px;
        line-height: 6vh;
        font-size: 1em;
        font-family: 'Sriracha';
    }
}

@media (min-width: 1200px) {
    #menu {
        transform: translateX(70%);
    }
}